/* src/styles.css */
:root {
  --primary-color: #6200ea;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #121212;
  --text-color-light: #000000;
  --text-color-dark: #ffffff;
}

/* Light Theme */
.light-theme {
  --bg-color: var(--primary-bg-color);
  --text-color: var(--text-color-light);
}

/* Dark Theme */
.dark-theme {
  --bg-color: var(--secondary-bg-color);
  --text-color: var(--text-color-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.container {
  padding: 20px;
  margin: auto;
  max-width: 800px;
  text-align: center;
}

.toggle-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
